body {
  font-family: roboto, sans-serif;
  color: var(--brand-black);
}

:root {
  --brand-blue: rgb(33, 150, 243);
  --brand-black: rgb(33, 33, 33, 1);
  --brand-grey: rgb(117, 117, 117);
  --brand-background-dark: rgba(47, 48, 58, 1);
  --just-black: rgb(0, 0, 0);
  --just-white: rgb(255, 255, 255);
}
/*  HEADER */
.web {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-blue);
  text-decoration: none;
}
.studio {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.2;
  color: var(--just-black);
  text-decoration: none;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--brand-black);
  text-decoration: none;
}
.web-studio-noundertext {
  text-decoration: none;
}

.tell-mailto {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.1;
  color: var(--brand-grey);
  text-decoration: none;
}
.tell-mailto:hover,
.tell-mailto:focus,
.link:hover,
.link:focus {
  color: var(--brand-blue);
}

/* SECTION with button */
.section-box {
  background-color: var(--brand-background-dark);
}

.h1 {
  color: var(--just-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

.button {
  font-family: roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--just-white);
  background: var(--brand-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/*  LOREM IPSUM */
.lorem-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--brand-black);
}
.lorem-content {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--brand-grey);
}
.section-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-black);
}
/* NASZ ZESPOL */
.team-person {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  display: block;
}
.team-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Portfolio */
.buttonp {
  font-family: roboto;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  text-decoration-color: var(--just-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  /* background: #f5f4fa; */
  /* border-radius: 4px; */
}
.buttonp:hover,
.buttonp:focus {
  background-color: var(--brand-blue);
  color: var(--just-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* -> FOTO DESCRIPTION*/
.proj-description {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-black);
}

.proj-type {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--brand-grey);
}

/* FOOTER */
.footer {
  background-color: var(--brand-background-dark);
}
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--just-white);
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address:hover,
.address:focus {
  color: var(--brand-blue);
}
.color-gradient {
  color: rgba(255, 255, 255, 0.6);
}
.studio-white {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.2;
  color: var(--just-white);
  text-decoration: none;
}
